<html>
    <body>
        <h3>Menu Page</h3>
        <a href = "/searchMoviesPage"> Search Movies Page</a></br>
        <a href = "/createNewMoviePage"> Create Movies Page</a></br>
        <a href = "/UsersManagementPage"> Users Management Page</a></br>
        <a href = "/movieDataPage/"> all movies links </a></br>
    </body>
</html>