<html>
    <body>
        <h1>create new movie page</h1>
        <form action = "/createNewMoviePage/newMovie" method= "POST">
            Name : <input type = "text" name = "name"></br>
            Language : <input type = "text" name = "language"></br>
            Genre : <input type = "text" name = "genre"></br>
            <input type = "submit" value = "Save">
        </form>
    </body>
</html>