<html>
    <body>
        <h1>create new user</h1>
        <form action = "/userDataPage/addUser" method= "POST">
            username: <input type = "text" name = "username"></br>
            password: <input type = "text" name = "pwd"></br>
            <input type="submit" value="save">     
        </form>
    </body>
</html>